h1{
    color: blue;
}
h2{
    color: brown;
}
.Djangotwo{
    border: 1px solid blue;
}
th, td{
    border-bottom: 1px solid rgb(0, 100, 30);
}
.Djangoone{
    border: 1px solid saddlebrown;
}
.one { list-style-type: disc; }
.two { list-style-type: circle; }
.three { list-style-type: square; }
.list{
    border: 1px solid blue;
}