<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}" />
    <title>second_app</title>
</head>
<body>
    <h1>Hi! Welcome to Django Level Two </h1>
    <h2>Here are your access records</h2>
    <!-- {{ access_records }} -->
    <div class="Djangotwo"></div>
    {% if access_records %}
    <table>
        <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
        </thead>
    {% for acc in access_records %}
        <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No Access Record Found! </p>
    {% endif %}


</body>
</html>